*{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h2{
    color: var(--bleu-egyptien);
    font-family: 'Lora', serif;
    font-weight: 400;
}

body{
    margin-top: 150px;
    font-family: 'Inter',sans-serif;
}

.intro{
    position: relative;
    padding-bottom: 100;
}

.text__intro{
    position: absolute;
    color: var(--blanc-cassé);
    font-family: 'Lora', serif;
    margin-inline: 20px;
    font-size: var(--sub--heading-1);
    color: var(--blanc-cassé);
    top: -15px;
}

.paragraphe--text-intro{
    margin-bottom: 15px;
}

.arcticle{
    position: relative;
}

.article__gauche{
    box-shadow: black 1px 2px 5px;
    padding-bottom: 25px;
    margin: 10px;
    margin-top: 100px;
    width: 80%;
    margin-left: 20px;
}

.article__droite{
    box-shadow: black 1px 2px 5px;
    padding-bottom: 25px;
    margin: 10px;
    margin-top: 100px;
    width: 80%;
    margin-left: 60px;
}

.description__artiste{
    padding-bottom: 10px;
}

.description__artiste--titre{
    font-family: 'Lora', serif;
    color: var(--bleu-egyptien);
    font-weight: 400;
    margin-inline: 15px;
    margin-bottom: 15px;
    font-size: var(--heading-3);
    margin-top: 10px;
}

.courte__description--article{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: var(--body-1);
    color: var(--couleur-text);
    padding: 5px;
}

.text_info--expo{
    color: var(--bleu-egyptien);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 7px;
    margin-top: 7px;
}

.text_reservation--billets{
    color: var(--couleur-text);
    font-family: 'Inter', sans-serif;
    font-weight: 300 ;
    text-align: center;
    margin-top: 5px;
}

.menu__text{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: var(--body-3);
    font-weight: normal;
}

.titre_page_billeterie{
    text-align: center;
    font-size: xx-large;
}

.icone_billet{
    display: flex;
    margin: auto;
    width: 70px;
    margin-top: 25px;
}

.tarifs_ticket{
    border: var(--bleu-egyptien) solid 3px;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.tarifs{
    margin-bottom: 10px;
}

.tarifs__prix li{
    margin-top: 15px;
}

.text__achat--billet{
    color: var(--bleu-egyptien);
    text-align: center;
    font-weight: 500;
    font-size: small;
    margin-bottom: 25px;
}

.text__horaire{
    color: var(--couleur-text);
    margin-bottom: 15px;
    margin-inline: 20px;
    font-size: small;
    font-weight: 600;
}

