img{
    max-width: 100%;
}

.media_vague{
    margin-top: -59px;
    position: relative;
}

.image_page-annexe-contact{
    margin-top: 5px;
    margin-bottom: -70px;
    margin-left: 25px;
}

.portrait__serguei-paradjanov{
    margin-top: -56px;
}

.portrait__joseph-beuys{
    margin-top: -57px;
}

.portrait__leonid-sejka{
    margin-top: -59px;
}