footer{
    background-color: var(--bleu-egyptien);
    text-align: center;
}

.footer__nom-site{
    font-family: 'Damion';
    color: var(--blanc-cassé);
    font-size: normal;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 15px;
}

.footer__pages-annexes{
    font-family: 'Inter', sans-serif;
    color: var(--blanc-cassé);
    margin-top: 45px;
    margin-bottom: -10px;
}
.footer__pages-annexes a{
    color: var(--blanc-cassé);
}

.footer__reseaux{
    display: flex;
    justify-content: space-between;
    margin-inline: 75px;
    padding: 50px;
    top: 10px;
}

.footer__icone--reseaux-sociaux{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
}

.footer_mailto{
    color: var(--blanc-cassé);
    font-family: 'Inter' sans-serif;
    position: relative;
    bottom: 10px;
}

.footer__copyright{
    color: var(--blanc-cassé);
    font-family: 'Inter', sans-serif;
    font-size: x-small;
    position: relative;
    bottom: 10px;
    margin-top: 30px;
}