header{
    background-color: var(--bleu-pastel);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header__icone--fr{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 35px;
    top: 25px;
}

.header__nom--site{
    font-family: 'Damion';
    font-weight: normal;
    color: var(--couleur-text);
    text-align: center;
    margin-top: 35px;
}

.header__icone--menu-burger{
    height: 30px;
    width: 30px;
    right: 35px;
    position: absolute;
    top: 25px;
    background-color: var(--bleu-pastel);
    border: none;
}

.header__icone--menu-croix{
    height: 30px;
    width: 30px;
    right: 0px;
    position: absolute;
    top: 0px;
    background-color: var(--bleu-pastel);
    border: none;
}
