.menu{
    position: fixed;
    text-align: center;
    background-color: var(--bleu-pastel);
    left: 0;
    right: 0;
    padding: 1px;
    top: 92px;
    box-shadow: 1px 6px 5px var(--couleur-text);
}

.menu__list{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    color: var(--couleur-text);
    list-style: none;
    font-family:'Damion';
    font-size: 150%;
    margin-bottom: 35px;
}