.motif_barre-barre--gauche,
.motif_barre-barre--droite{
    background-color: var(--bleu-egyptien);
    height: 7px;
    width: 275px;
    margin: 9px;
    margin-bottom: 9px;
    margin-top: 18px;
}

.motif_barre-barre--gauche{
    margin-left: -10px;
    border-radius: 0 3px 3px 0;
}

.motif_barre-barre--droite{
    margin-left: 153px;
    border-radius: 3px 0 0 3px;
}

.motif_barre-barre--droite-article,
.motif_barre-barre--gauche-article{
    background-color: var(--bleu-egyptien);
    height: 7px;
    width: 275px;
    margin: 9px;
    margin-bottom: 18px;
    margin-top: 9px;
}

.motif_barre-barre--droite-article{
    margin-left: 86px;
    border-radius: 3px 0 0 3px;
}

.motif_barre-barre--gauche-article{
    margin-left: -1px;
    border-radius: 0 3px 3px 0;
}

